[submodule "glue/dep/jit"]
	path = glue/dep/jit
	url = https://forge.siguza.net/Siguza/jit.git
[submodule "glue/dep/doubleH3lix"]
	path = glue/dep/doubleH3lix
	url = https://github.com/Siguza/doubleH3lix.git
