/obj
/payload
/dep/curl-*/**/*.o
/dep/curl-*/**/*.lo
/dep/curl-*/Makefile
/dep/curl-*/config.log
/dep/curl-*/config.status
/dep/curl-*/curl-config
/dep/curl-*/docs/curl.1
/dep/curl-*/docs/examples/.deps/
/dep/curl-*/include/Makefile
/dep/curl-*/include/curl/Makefile
/dep/curl-*/lib/.deps/
/dep/curl-*/lib/.dirstamp
/dep/curl-*/lib/.libs/
/dep/curl-*/lib/Makefile
/dep/curl-*/lib/curl_config.h
/dep/curl-*/lib/libcurl.la
/dep/curl-*/lib/libcurl.vers
/dep/curl-*/lib/stamp-h1
/dep/curl-*/lib/vauth/.deps/
/dep/curl-*/lib/vauth/.dirstamp
/dep/curl-*/lib/vtls/.deps/
/dep/curl-*/lib/vtls/.dirstamp
/dep/curl-*/libcurl.pc
/dep/curl-*/libtool
/dep/curl-*/packages/AIX/Makefile
/dep/curl-*/packages/AIX/RPM/Makefile
/dep/curl-*/packages/AIX/RPM/curl.spec
/dep/curl-*/packages/EPM/Makefile
/dep/curl-*/packages/EPM/curl.list
/dep/curl-*/packages/Linux/Makefile
/dep/curl-*/packages/Linux/RPM/Makefile
/dep/curl-*/packages/Linux/RPM/curl-ssl.spec
/dep/curl-*/packages/Linux/RPM/curl.spec
/dep/curl-*/packages/Makefile
/dep/curl-*/packages/Solaris/Makefile
/dep/curl-*/packages/Win32/Makefile
/dep/curl-*/packages/Win32/cygwin/Makefile
/dep/curl-*/packages/vms/Makefile
/dep/curl-*/scripts/Makefile
/dep/curl-*/src/.deps/
/dep/curl-*/src/Makefile
/dep/curl-*/src/curl
/dep/curl-*/src/tool_hugehelp.c
/dep/curl-*/tests/Makefile
/dep/curl-*/tests/certs/Makefile
/dep/curl-*/tests/certs/scripts/Makefile
/dep/curl-*/tests/configurehelp.pm
/dep/curl-*/tests/data/Makefile
/dep/curl-*/tests/libtest/.deps/
/dep/curl-*/tests/libtest/Makefile
/dep/curl-*/tests/server/.deps/
/dep/curl-*/tests/server/Makefile
/dep/curl-*/tests/unit/.deps/
/dep/curl-*/tests/unit/Makefile

