/obj
/payload
/dep/curl-*/**/*.o
/dep/curl-*/**/*.lo
/dep/curl-*/**/Makefile
/dep/curl-*/config.log
/dep/curl-*/config.status
/dep/curl-*/curl-config
/dep/curl-*/docs/curl.1
/dep/curl-*/docs/examples/.deps/
/dep/curl-*/lib/.deps/
/dep/curl-*/lib/.dirstamp
/dep/curl-*/lib/.libs/
/dep/curl-*/lib/curl_config.h
/dep/curl-*/lib/libcurl.la
/dep/curl-*/lib/libcurl.vers
/dep/curl-*/lib/stamp-h1
/dep/curl-*/lib/vauth/.deps/
/dep/curl-*/lib/vauth/.dirstamp
/dep/curl-*/lib/vtls/.deps/
/dep/curl-*/lib/vtls/.dirstamp
/dep/curl-*/libcurl.pc
/dep/curl-*/libtool
/dep/curl-*/packages/AIX/RPM/curl.spec
/dep/curl-*/packages/EPM/curl.list
/dep/curl-*/packages/Linux/RPM/curl-ssl.spec
/dep/curl-*/packages/Linux/RPM/curl.spec
/dep/curl-*/src/.deps/
/dep/curl-*/src/curl
/dep/curl-*/src/tool_hugehelp.c
/dep/curl-*/tests/configurehelp.pm
/dep/curl-*/tests/libtest/.deps/
/dep/curl-*/tests/server/.deps/
/dep/curl-*/tests/unit/.deps/
