@media only screen 
  and (min-width: 640px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    /* iPad and Desktop Scaling */
    slider {
        align-items: center;
    }
    
    slider well{
        min-width: 500px;
        max-width: 500px;
    }
}

/* Default Body Properties */
body {
	background: gray;
	color: white;
	font-family: "SF Display", sans-serif;
	font-weight: 200;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Quick display classes */
.block {
	display: block;
}

.flex {
    display: flex;
}

/* Header and View */
header {
	background: linear-gradient(to bottom, rgba(34, 34, 34, 0.7), rgba(21, 21, 21, 0.7) 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.7));
	text-align: center;
	align-items: center;
}

view {
	display: flex;
	justify-content: center;
}

/* Slider */
slider {
	background: linear-gradient(to bottom, rgba(34, 34, 34, 0.7), rgba(21, 21, 21, 0.7) 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.7));
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 54px;
	padding: 20px;
}

slider well {
    background: linear-gradient(to bottom, black, #1c1c1c);
	display: flex;
	align-items: center;
	border-radius: 16px;
	border: 1px solid #3f3f3f;
	min-height: 50px;
	padding: 0 3px 0 3px;
}

slider well hint {
	display: block;
	text-align: center;
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
	margin-left: 70px;
}

hint span {
	font-size: 1.5em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	
	-webkit-user-select: none;
	user-select: none;
  	
  	background: -webkit-gradient(linear,left top,right top,
        color-stop(0, #4d4d4d),
        color-stop(0.4, #4d4d4d),
        color-stop(0.5, white),
        color-stop(0.6, #4d4d4d),
        color-stop(1, #4d4d4d));

  	background-size: 200%;

  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

  	animation: slidetounlock 5s infinite;
}

@keyframes slidetounlock {
	0% { background-position: right -40% center; }
	100% { background-position: left -40% center; }
}

slider thumbtack {
	z-index: 5;
    background: linear-gradient(to bottom, #fefefe, #dddddd 50%, #d2d2d2 50%, #a2a3a2);
	color: black;
    display: flex;
	align-items: center;
	justify-content: center;
	min-width: 68px;
	min-height: 44px;
	border-radius: 12px;
	position: absolute;
}