@keyframes bob {
    0% {transform: translatey(-10px);}
    50% {transform: translatey(10px);}
    100% {transform: translatey(-10px);}
}

body {
	display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
	color: #95d0c6;
	background-color: #0c3b3e;
}

.center {
	display: flex;
    flex-direction: column;
	text-align: center;
	animation: bob 5s ease-in-out infinite;
}
